﻿html {
    /*direction: rtl;*/
    direction: ltr;
}

header, .center, footer {
    min-height: 80px;
    /*border: 2px solid blue;*/
    border: 2px solid #00FF9D;
}

header {
    /* Parent of the title and navbar properties */
   
    /*background-color: white;*/
    background-color: #12161F;
    margin-bottom: 5px;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.header_top {
    min-height: 20px;
    display: flex;
}

.header_date {
    flex: 1;
    display: flex;
    flex-direction: column; 
}

#DateLabel {
    flex: 1;
}

#DayImage {
    flex: 3;
    max-width: 60px;
    height: auto;
}

body {
    /* Overall website background */

    background-color: #12161F;
}

.main_nav {
    /* Navbar properties */
    
    /*background-color: lightgray;*/
    background-color: #0B0E14;
    min-height: 30px;
    padding-left: 100px;
    padding-right: 100px;

    display: flex;
    align-items: center;

}

.main_nav .login_logout {
    margin-right: auto;
    border: 1px solid black;
    padding: 5px;
}


    .main_nav a {
        text-decoration: none;
        font-size: 24px;
        /*color: darkblue;*/
        color: #00FF9D;
        margin: 10px;
    }


.center {
    background-color: lime;
    margin-bottom: 5px;
    display: flex;
}

main, aside {
    min-height: 300px;
}

main {
    /* Body text */

    /*background-color: darkblue;*/
    background-color: #1A1F29; 
    flex: 4;
    color: white;
    padding: 5px 10px;
}


aside {
    /* Sidebar */
    
    /*background-color: gray;*/
    background-color: #151921;
    flex: 1;
    padding: 5px;
    text-align: center;
}

footer {
    /* Bottom text part */
    /*background-color: orange;*/
    background-color: #0B0E14;
}

.read {
    color: #E0E6ED;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

a {
    color: #00FF9D;
}

a:visited {
    color: #00FF26;
}

a:hover {
    color: #2CAB7A;
}

footer {
    justify-content: center;
    display: flex;
}

#backtop {
    display: block;
    font-size: 20px;
}

aside.read {
    text-align: left;
    padding-left: 10px;
}

aside h3 {
    text-align: center;
}

aside ul {
    text-align: left;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

    aside ul li ul {
        margin-left: 20px;
        padding-left: 10px;
    }

    aside ul li a {
        padding: 5px 0;
        display: block;
    }